@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply hover:underline hover:underline-offset-2 hover:decoration-green-500;
  }
  td {
    @apply pt-4 pb-6;
  }
  th {
    @apply py-4;
  }
  img {
    @apply border rounded border-neutral-500;
  }
}
